root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = true:suggestion
dotnet_diagnostic.IDE0055.severity = none

[*.{json,yml,yaml}]
indent_size = 2

[*.{js,jsx,ts,tsx,css,md}]
indent_size = 2

[*.csproj]
indent_size = 2
